@model ArticleListViewModel
<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@ViewBag.TitleNav</h1>
                    <span class="subheading">@ViewBag.SubTitleNav</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 mx-auto">
            <p>Recent blog posts:</p>
            <hr />
            @foreach (var art in Model.Articles)
            {
                <div class="post-preview">
                    <a href="~/blog/@art.Title.Replace(" ", "-").ToLower()">
                        <h2 class="post-title">
                            @art.Title
                        </h2>
                        @if (!art.SubTitle.Equals(string.Empty))
                        {
                            <h3 class="post-subtitle">
                                @art.SubTitle
                            </h3>
                        }
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="~/">Davide Dolce</a>
                        on @art.PubDate
                    </p>
                </div>
                <hr>
            }
            <br>
            <div class="clearfix">
                <div page-blog="@Model.PagingInfo" page-action-index="Blog" page-classes-enabled="true" page-class-normal="btn-primary"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 mx-auto">
            <br />
            <h3>Latest project:</h3>
            <a href="~/projects" target="_blank"><img src="/img/law-cloud.png" class="mobile-app" alt="Law Cloud"></a>
            <p>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <a href="~/projects" target="_blank">Other projects</a>
            </p>
            <h3>Next coding competitions:</h3>
            <p>
                <a href="https://codingcompetitions.withgoogle.com/codejam/schedule" target="_blank">Code Jam</a> start Apr 5 2019
            </p>
        </div>
    </div>
</div>